@using FittnessWeb.ViewModels;
@model HomeVM
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            @foreach(Slider slider in Model.Sliders)
            {
                <li data-transition="random">
                    <img src="~/img/slides/@slider.Image" alt="" width="1920" height="705" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                    @Html.Raw(slider.Title)
                    <div class="tp-caption tp-resizeme banner-caption-h1-large banner-caption-bg" data-x="center" data-hoffset="0" data-y="top" data-voffset="570" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-start="2000">
                        <span><img src="~/img/slides/title-decor.png" alt=""> Fitness Care</span>
                    </div>
                </li>
            }
            
        </ul>
    </div>
</section>
<section class="slider-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 slider-bottom-left">
                <img src="~/img/resources/home-banner-1.png" id="skin-banner-1" alt="Awesome Image" />
                <a href="pricing.html"><span>Join today</span></a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 slider-bottom-right">
                <img src="~/img/resources/home-banner-2.png" id="skin-banner-2" alt="Awesome Image" />
                <a href="contact.html" class="arrow-push-in-right"><span>Lets talk<i class="fa fa-caret-right"></i></span></a>
            </div>
        </div>
    </div>
</section>
<section class="fitness-care-gym-area">
    <div class="container">
        <div class="section-title text-center">
            <h1><span>Benifits of Fitness Care GYM</span></h1>
        </div>
        <div class="row">
            @foreach (Benefit benefit in Model.Benefits)
            {
                <!--Start single item-->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="single-item clearfix">
                        <div class="left-box clearfix"></div>
                        <div class="icon-holder">
                            @Html.Raw(benefit.Icon)
                        </div>
                        <div class="right-box">
                            <h3>@benefit.Name</h3>
                            <p>@benefit.Description</p>
                        </div>
                    </div>
                </div>
                <!--End single item-->
            }

        </div>
    </div>
</section>
<section class="support-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="img-holder">
                    <img alt="" src="~/img/support/img.png">
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 support-content">
                <div class="row">
                    <!--Start single item-->
                    <div class="col-md-6 col-sm-6">
                        <div class="single-item">
                            <div class="icon-holder">
                                <i class="fa fa-database"></i>
                            </div>
                            <div class="content">
                                <h3>Responsive Layout</h3>
                                <p>Visual Composer is a drag and drop frontend and backend page builder that will save you tons of time working on our site content</p>
                            </div>
                        </div>
                    </div>
                    <!--End single item-->
                    <!--Start single item-->
                    <div class="col-md-6 col-sm-6">
                        <div class="single-item">
                            <div class="icon-holder">
                                <i class="fa fa-calculator"></i>
                            </div>
                            <div class="content">
                                <h3>BMI & IWC Calculator</h3>
                                <p>The Events Calendar is built to work out of the box configure the settings to match your needs and you'll be making events within less than 5 minutes.</p>
                            </div>
                        </div>
                    </div>
                    <!--End single item-->
                    <!--Start single item-->
                    <div class="col-md-6 col-sm-6">
                        <div class="single-item">
                            <div class="icon-holder">
                                <i class="fa fa-codepen"></i>
                            </div>
                            <div class="content">
                                <h3>Premium Plugins Free</h3>
                                <p>WooCommerce is built with developers in mind. It provides a strong, robust frame- work with which you can create a basic online store - or extend it as you need.</p>
                            </div>
                        </div>
                    </div>
                    <!--End single item-->
                    <!--Start single item-->
                    <div class="col-md-6 col-sm-6">
                        <div class="single-item">
                            <div class="icon-holder">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="content">
                                <h3>Free Customer Support</h3>
                                <p>Fitness Care is always up to date. We constantly listen to our customers and we add new features every week. We take good care of your business</p>
                            </div>
                        </div>
                    </div>
                    <!--End single item-->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="workout-schedules-area">
    <div class="container">
        <div class="section-title">
            <h1><span>daily workout Schedules</span></h1>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img alt="" src="~/img/workout-schedules/1.jpg">
                        <div class="overlay">
                            <div class="icon-holder">
                                <a href=""><i class="fa fa-share"></i></a>
                            </div>
                        </div>
                        <div class="date">
                            <h4>Day<br>01</h4>
                        </div>
                    </div>
                    <div class="content">
                        <h3> Chest & Triceps<span>( Body Building )</span></h3>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Duration : 1 Hour</li>
                            <li><i class="fa fa-user"></i>Stepthen Adams</li>
                        </ul>
                        <div class="schedules-list">
                            <h4>Chest :</h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Incline dumbbell press - 4 sets of 8 to 10 reps. </li>
                                <li><i class="fa fa-check"></i>Flatbench barbell press - 4 sets of 8 to 12 reps. </li>
                                <li><i class="fa fa-check"></i>Incline dumbbell flies - 4 sets of 8 to 12 reps. </li>
                                <li><i class="fa fa-check"></i>Cable crossovers - 2 sets of 12 to 18 reps.</li>
                            </ul>
                        </div>
                        <div class="schedules-list bottom">
                            <h4>Triceps :</h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Pushdowns - 4 sets of 8 to 12 reps.</li>
                                <li><i class="fa fa-check"></i>Extensions using a rope - 2 sets of 12 to 18 reps.</li>
                            </ul>
                        </div>
                        <a href="single-workout.html" class="arrow-push-out-right"><span>View EXERCISE Plans <i class="fa fa-caret-right"></i></span></a>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img alt="" src="~/img/workout-schedules/2.jpg">
                        <div class="overlay">
                            <div class="icon-holder">
                                <a href=""><i class="fa fa-share"></i></a>
                            </div>
                        </div>
                        <div class="date">
                            <h4>Day<br>02</h4>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Back and Biceps<span>( Athletics )</span></h3>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Duration : 1 Hour</li>
                            <li><i class="fa fa-user"></i>Rebecca Garza</li>
                        </ul>
                        <div class="schedules-list">
                            <h4>Back :</h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Lat machine pulldowns - 4 sets of 8 to 10 reps.</li>
                                <li><i class="fa fa-check"></i>Close grip pulldowns - 4 sets of 8 to 12 reps.</li>
                                <li><i class="fa fa-check"></i>Seated cable rows - 4 sets of 8 to 12 reps.</li>
                                <li><i class="fa fa-check"></i>Hyper-extensions - 2 sets of 12 to 18 reps.</li>
                            </ul>
                        </div>
                        <div class="schedules-list bottom">
                            <h4>Biceps :</h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Incline dumbbell curls - 4 sets of 8 to 12 reps.</li>
                                <li><i class="fa fa-check"></i>Standing barbell curls - 2 sets of 12 to 18 reps.</li>
                            </ul>
                        </div>
                        <a href="single-workout.html" class="arrow-push-out-right"><span>View EXERCISE Plans <i class="fa fa-caret-right"></i></span></a>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="single-item last-item-center">
                    <div class="img-holder">
                        <img alt="" src="~/img/workout-schedules/3.jpg">
                        <div class="overlay">
                            <div class="icon-holder">
                                <a href=""><i class="fa fa-share"></i></a>
                            </div>
                        </div>
                        <div class="date">
                            <h4>Day<br>03</h4>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Shoulders, Biceps<span>( Fitness )</span></h3>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Duration : 1 Hour</li>
                            <li><i class="fa fa-user"></i>Rebecca Garza</li>
                        </ul>
                        <div class="schedules-list">
                            <h4>Back :</h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Barbell press - 4 sets of 8 to 10 reps.</li>
                                <li><i class="fa fa-check"></i>Standing side laterals - 4 sets of 8 to 12 reps.</li>
                                <li><i class="fa fa-check"></i>Upright rows with barbel - 4 sets of 8 to 12 reps.</li>
                                <li><i class="fa fa-check"></i>Hyper-extensions - 2 sets of 12 to 18 reps.</li>
                            </ul>
                        </div>
                        <div class="schedules-list bottom">
                            <h4>Biceps :</h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Incline dumbbell curls - 4 sets of 8 to 12 reps.</li>
                                <li><i class="fa fa-check"></i>Standing barbell curls - 2 sets of 12 to 18 reps.</li>
                            </ul>
                        </div>
                        <a href="single-workout.html" class="arrow-push-out-right"><span>View EXERCISE Plans <i class="fa fa-caret-right"></i></span></a>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<section class="health-care-package-area">
    <div class="container">
        <div class="section-title">
            <h1><span>Our Health Care Packages</span></h1>
        </div>
        <div class="health-care-pack-carousel owl-theme owl-carousel">
            <div class="item">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="~/img/health-care-package/1.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="top">
                            <div class="icon-holder pull-left">
                                <i class="fc-icon ftc-icon-weightlifter3"></i>
                            </div>
                            <div class="content-heading pull-left">
                                <h3>Body Building <span>($230.99)</span></h3>
                                <ul>
                                    <li><i class="fa fa-circle"></i>01 Year Training </li>
                                    <li><i class="fa fa-circle"></i>30 Min Session</li>
                                </ul>
                            </div>
                        </div>
                        <div class="package-list">
                            <h4>Package Includes:</h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Fitness testing, Diet Plan</li>
                                <li><i class="fa fa-check"></i>Weekly motivation and accountability</li>
                                <li><i class="fa fa-check"></i>Ongoing nutrition support</li>
                                <li><i class="fa fa-check"></i>Training Calendars</li>
                                <li><i class="fa fa-check"></i>Free Wifi & Community Support</li>
                            </ul>
                        </div>
                    </div>
                    <div class="button">
                        <a class="pull-left black arrow-push-in-right" href="single-package.html"><span>More Details <i class="fa fa-caret-right"></i></span></a>
                        <a class="pull-right arrow-push-in-right" href="pricing.html"><span>Join Now <i class="fa fa-caret-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-item">
                    <div class="img-holder offer">
                        <img src="~/img/health-care-package/2.jpg" alt="">
                        <div class="offer-text">
                            <h1>50% Offer</h1>
                        </div>
                    </div>
                    <div class="content">
                        <div class="top">
                            <div class="icon-holder pull-left">
                                <i class="fc-icon ftc-icon-running"></i>
                            </div>
                            <div class="content-heading pull-left">
                                <h3>Fat Loss<span> (<del>$150</del>$75)</span></h3>
                                <ul>
                                    <li><i class="fa fa-circle"></i>06 Month Training</li>
                                    <li><i class="fa fa-circle"></i>30 Min Session</li>
                                </ul>
                            </div>
                        </div>
                        <div class="package-list">
                            <h4>Package Includes:</h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Fitness testing, Diet Plan</li>
                                <li><i class="fa fa-check"></i>Weekly motivation and accountability</li>
                                <li><i class="fa fa-check"></i>Ongoing nutrition support</li>
                                <li><i class="fa fa-check"></i>Training Calendars</li>
                                <li><i class="fa fa-check"></i>Free Wifi & Community Support</li>
                            </ul>
                        </div>
                    </div>
                    <div class="button">
                        <a class="pull-left black arrow-push-in-right" href="single-package.html"><span>More Details <i class="fa fa-caret-right"></i></span></a>
                        <a class="pull-right arrow-push-in-right" href="pricing.html"><span>Join Now <i class="fa fa-caret-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-item last-item-center">
                    <div class="img-holder">
                        <img src="~/img/health-care-package/3.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="top">
                            <div class="icon-holder pull-left">
                                <i class="fc-icon ftc-icon-yoga13"></i>
                            </div>
                            <div class="content-heading pull-left">
                                <h3>Yoga & Streching<span> ($ 90)</span></h3>
                                <ul>
                                    <li><i class="fa fa-circle"></i>01 Year Training</li>
                                    <li><i class="fa fa-circle"></i>30 Min Session</li>
                                </ul>
                            </div>
                        </div>
                        <div class="package-list">
                            <h4>Package Includes:</h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Fitness testing, Diet Plan</li>
                                <li><i class="fa fa-check"></i>Weekly motivation and accountability</li>
                                <li><i class="fa fa-check"></i>Ongoing nutrition support</li>
                                <li><i class="fa fa-check"></i>Training Calendars</li>
                                <li><i class="fa fa-check"></i>Free Wifi & Community Support</li>
                            </ul>
                        </div>
                    </div>
                    <div class="button">
                        <a class="pull-left black arrow-push-in-right" href="single-package.html"><span>More Details <i class="fa fa-caret-right"></i></span></a>
                        <a class="pull-right arrow-push-in-right" href="pricing.html"><span>Join Now <i class="fa fa-caret-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="~/img/health-care-package/4.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="top">
                            <div class="icon-holder pull-left">
                                <i class="fc-icon ftc-icon-weightlifter3"></i>
                            </div>
                            <div class="content-heading pull-left">
                                <h3>Weight Lifting <span>($180.99)</span></h3>
                                <ul>
                                    <li><i class="fa fa-circle"></i>01 Year Training </li>
                                    <li><i class="fa fa-circle"></i>30 Min Session</li>
                                </ul>
                            </div>
                        </div>
                        <div class="package-list">
                            <h4>Package Includes:</h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Fitness testing, Diet Plan</li>
                                <li><i class="fa fa-check"></i>Weekly motivation and accountability</li>
                                <li><i class="fa fa-check"></i>Ongoing nutrition support</li>
                                <li><i class="fa fa-check"></i>Training Calendars</li>
                                <li><i class="fa fa-check"></i>Free Wifi & Community Support</li>
                            </ul>
                        </div>
                    </div>
                    <div class="button">
                        <a class="pull-left black arrow-push-in-right" href="single-package.html"><span>More Details <i class="fa fa-caret-right"></i></span></a>
                        <a class="pull-right arrow-push-in-right" href="pricing.html"><span>Join Now <i class="fa fa-caret-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-item">
                    <div class="img-holder offer">
                        <img src="~/img/health-care-package/5.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="top">
                            <div class="icon-holder pull-left">
                                <i class="fc-icon ftc-icon-kickboxing"></i>
                            </div>
                            <div class="content-heading pull-left">
                                <h3>Boxing Classes<span> ($380)</span></h3>
                                <ul>
                                    <li><i class="fa fa-circle"></i>06 Month Training</li>
                                    <li><i class="fa fa-circle"></i>30 Min Session</li>
                                </ul>
                            </div>
                        </div>
                        <div class="package-list">
                            <h4>Package Includes:</h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Fitness testing, Diet Plan</li>
                                <li><i class="fa fa-check"></i>Weekly motivation and accountability</li>
                                <li><i class="fa fa-check"></i>Ongoing nutrition support</li>
                                <li><i class="fa fa-check"></i>Training Calendars</li>
                                <li><i class="fa fa-check"></i>Free Wifi & Community Support</li>
                            </ul>
                        </div>
                    </div>
                    <div class="button">
                        <a class="pull-left black arrow-push-in-right" href="single-package.html"><span>More Details <i class="fa fa-caret-right"></i></span></a>
                        <a class="pull-right arrow-push-in-right" href="pricing.html"><span>Join Now <i class="fa fa-caret-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-item last-item-center">
                    <div class="img-holder">
                        <img src="~/img/health-care-package/6.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="top">
                            <div class="icon-holder pull-left">
                                <i class="fc-icon ftc-icon-flexions"></i>
                            </div>
                            <div class="content-heading pull-left">
                                <h3>Dance Classes<span> ($160)</span></h3>
                                <ul>
                                    <li><i class="fa fa-circle"></i>01 Year Training</li>
                                    <li><i class="fa fa-circle"></i>30 Min Session</li>
                                </ul>
                            </div>
                        </div>
                        <div class="package-list">
                            <h4>Package Includes:</h4>
                            <ul>
                                <li><i class="fa fa-check"></i>Fitness testing, Diet Plan</li>
                                <li><i class="fa fa-check"></i>Weekly motivation and accountability</li>
                                <li><i class="fa fa-check"></i>Ongoing nutrition support</li>
                                <li><i class="fa fa-check"></i>Training Calendars</li>
                                <li><i class="fa fa-check"></i>Free Wifi & Community Support</li>
                            </ul>
                        </div>
                    </div>
                    <div class="button">
                        <a class="pull-left black arrow-push-in-right" href="single-package.html"><span>More Details <i class="fa fa-caret-right"></i></span></a>
                        <a class="pull-right arrow-push-in-right" href="pricing.html"><span>Join Now <i class="fa fa-caret-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="walking-area">
    <div class="container">
        <div class="row">
            <div id="walking-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#walking-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#walking-carousel" data-slide-to="1"></li>
                    <li data-target="#walking-carousel" data-slide-to="2"></li>
                    <li data-target="#walking-carousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="col-lg-12">
                            <div class="single-item">
                                <div class="walking">
                                    <h1>8-Week’s Weight Loss Challenge</h1>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>20 Feb</li>
                                        <li><i class="fa fa-clock-o"></i>16:00 - 20:00</li>
                                    </ul>
                                    <p>
                                        It would be perfect to do wit h your family, friends, co-workers anyone who wants to get and
                                        <br>lose some weight in a healthy way! I have started a lot of diets and programs.
                                    </p>
                                    <a href="single-workout.html" class="thm-btn borderd arrow-push-in-right"><span>More Details <i class="fa fa-caret-right"></i></span></a> &emsp; &emsp;
                                    <a href="pricing.html" class="thm-btn arrow-push-in-right"><span>Buy Now <i class="fa fa-caret-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-12">
                            <div class="single-item">
                                <div class="walking">
                                    <h1>10 Best Muscle-Building Biceps Exercises</h1>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>20 Feb</li>
                                        <li><i class="fa fa-clock-o"></i>16:00 - 20:00</li>
                                    </ul>
                                    <p>
                                        It would be perfect to do wit h your family, friends, co-workers anyone who wants to get and
                                        <br>lose some weight in a healthy way! I have started a lot of diets and programs.
                                    </p>
                                    <a href="single-workout.html" class="thm-btn borderd arrow-push-in-right"><span>More Details <i class="fa fa-caret-right"></i></span></a> &emsp; &emsp;
                                    <a href="pricing.html" class="thm-btn arrow-push-in-right"><span>Buy Now <i class="fa fa-caret-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-12">
                            <div class="single-item">
                                <div class="walking">
                                    <h1>9 Ways You're Sabotaging Your Fat Loss</h1>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>20 Feb</li>
                                        <li><i class="fa fa-clock-o"></i>16:00 - 20:00</li>
                                    </ul>
                                    <p>
                                        It would be perfect to do wit h your family, friends, co-workers anyone who wants to get and
                                        <br>lose some weight in a healthy way! I have started a lot of diets and programs.
                                    </p>
                                    <a href="single-workout.html" class="thm-btn borderd arrow-push-in-right"><span>More Details <i class="fa fa-caret-right"></i></span></a> &emsp; &emsp;
                                    <a href="pricing.html" class="thm-btn arrow-push-in-right"><span>Buy Now <i class="fa fa-caret-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-12">
                            <div class="single-item">
                                <div class="walking">
                                    <h1>Score More: Two Proven Muscle Recovery Tips</h1>
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>20 Feb</li>
                                        <li><i class="fa fa-clock-o"></i>16:00 - 20:00</li>
                                    </ul>
                                    <p>
                                        It would be perfect to do wit h your family, friends, co-workers anyone who wants to get and
                                        <br>lose some weight in a healthy way! I have started a lot of diets and programs.
                                    </p>
                                    <a href="single-workout.html" class="thm-btn borderd arrow-push-in-right"><span>More Details <i class="fa fa-caret-right"></i></span></a> &emsp; &emsp;
                                    <a href="pricing.html" class="thm-btn arrow-push-in-right"><span>Buy Now <i class="fa fa-caret-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="experienced-trainer-area">
    <div class="container">
        <div class="section-title text-center">
            <h1><span>Our experienced trainers</span></h1>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="~/img/experienced-trainer/1.jpg" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-envelope"></i>Support&Healtcare.com</li>
                                <li><i class="fa fa-phone"></i>0422-2342134</li>
                                <li><i class="fa fa-cog"></i>Practising : 4+ years</li>
                            </ul>
                            <div class="overlay-buttom">
                                <div class="trainer-name">
                                    <div class="name pull-left">
                                        <h3>Stepthen Adams</h3>
                                        <span>Ceo & Fitness Instructor</span>
                                    </div>
                                    <div class="icon-holder pull-right">
                                        <i class="fc-icon ftc-icon-dumbbell"></i>
                                    </div>
                                </div>
                                <p>Fitness & Body builders spend years, even decades, perfecting the human form. Now, you may not want into your routine.</p>
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="trainer-name">
                            <div class="name pull-left">
                                <h3>Stepthen Adams</h3>
                                <span>Ceo & Fitness Instructor</span>
                            </div>
                            <div class="icon-holder pull-right">
                                <i class="fc-icon ftc-icon-dumbbell"></i>
                            </div>
                        </div>
                        <p>Fitness & Body builders spend years, even decades, perfecting the human form. Now, you may not want into your routine.</p>
                        <div class="social-links">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="~/img/experienced-trainer/2.jpg" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-envelope"></i>Support&Healtcare.com</li>
                                <li><i class="fa fa-phone"></i>0422-2342134</li>
                                <li><i class="fa fa-cog"></i>Practising : 4+ years</li>
                            </ul>
                            <div class="overlay-buttom">
                                <div class="trainer-name">
                                    <div class="name pull-left">
                                        <h3>Ashley Fletcher</h3>
                                        <span>Fitness & Yoga Instructor</span>
                                    </div>
                                    <div class="icon-holder pull-right">
                                        <i class="fc-icon ftc-icon-yoga13"></i>
                                    </div>
                                </div>
                                <p>Fitness & Yoga s, but that doesn’t mean you shouldn’t incorporate some bodybuilding principles and workouts into your routine.</p>
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="trainer-name">
                            <div class="name pull-left">
                                <h3>Ashley Fletcher</h3>
                                <span>Fitness & Yoga Instructor</span>
                            </div>
                            <div class="icon-holder pull-right">
                                <i class="fc-icon ftc-icon-yoga13"></i>
                            </div>
                        </div>
                        <p>Fitness & Yoga s, but that doesn’t mean you shouldn’t incorporate some bodybuilding principles and workouts into your routine.</p>
                        <div class="social-links">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="~/img/experienced-trainer/3.jpg" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-envelope"></i>Support&Healtcare.com</li>
                                <li><i class="fa fa-phone"></i>0422-2342134</li>
                                <li><i class="fa fa-cog"></i>Practising : 4+ years</li>
                            </ul>
                            <div class="overlay-buttom">
                                <div class="trainer-name">
                                    <div class="name pull-left">
                                        <h3>Ben Johnson</h3>
                                        <span>Pro Body Builder</span>
                                    </div>
                                    <div class="icon-holder pull-right">
                                        <i class="fc-icon ftc-icon-musculous"></i>
                                    </div>
                                </div>
                                <p>Fitness & Body builders spend years, even decades, perfecting the human form. Now, you may not want into your routine.</p>
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="trainer-name">
                            <div class="name pull-left">
                                <h3>Ben Johnson</h3>
                                <span>Pro Body Builder</span>
                            </div>
                            <div class="icon-holder pull-right">
                                <i class="fc-icon ftc-icon-musculous"></i>
                            </div>
                        </div>
                        <p>Fitness & Body builders spend years, even decades, perfecting the human form. Now, you may not want into your routine.</p>
                        <div class="social-links">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="~/img/experienced-trainer/4.jpg" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-envelope"></i>Support&Healtcare.com</li>
                                <li><i class="fa fa-phone"></i>0422-2342134</li>
                                <li><i class="fa fa-cog"></i>Practising : 4+ years</li>
                            </ul>
                            <div class="overlay-buttom">
                                <div class="trainer-name">
                                    <div class="name pull-left">
                                        <h3>Rebecca Garza</h3>
                                        <span>Fitness & Body Builder</span>
                                    </div>
                                    <div class="icon-holder pull-right">
                                        <i class="fc-icon ftc-icon-weightlifter3"></i>
                                    </div>
                                </div>
                                <p>Fitness & Body builders spend years, even decades, perfecting the human form. Now, you may not want into your routine.</p>
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="trainer-name">
                            <div class="name pull-left">
                                <h3>Rebecca Garza</h3>
                                <span>Fitness & Body Builder</span>
                            </div>
                            <div class="icon-holder pull-right">
                                <i class="fc-icon ftc-icon-weightlifter3"></i>
                            </div>
                        </div>
                        <p>Fitness & Body builders spend years, even decades, perfecting the human form. Now, you may not want into your routine.</p>
                        <div class="social-links">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<section class="subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 hidden-sm">
                <div class="img-holder">
                    <img src="~/img/subscribe/trainers.png" alt="">
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="subscribe-form">
                    <h1 class="title">Subscribe us for Offers & Health Tips</h1>
                    <form class="subscribe mailchimp-form" action="inc/mailchimp/subscribe.php">
                        <input class="name" type="text" name="fname" placeholder="Your Name">
                        <input class="email" type="text" name="email" placeholder="Your Email">
                        <button class="thm-btn arrow-push-out-right" type="submit"><span>Subscribe  Now <i class="fa fa-caret-right"></i></span></button>
                    </form>
                    <h1>Give us a Call  : <span>+1 212-212-2376</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>