<section class="inner-banner pattern-3">
    <div class="container text-center">
        <h2>Pricing</h2>
        <p>We offer Fitness & Yoga services since 1996</p>
    </div>
</section>
<section class="bread-cumb">
    <div class="container text-center">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><span>Pricing</span></li>
        </ul>
    </div>
</section>
<section class="section-padding package-area">
    <div class="container">
        <div class="section-title text-center">
            <h1><span>Fitness care Plans</span></h1>
        </div>
        <div class="table-responsive">
            <table class="table pricing-table text-center">
                <thead>
                    <tr>
                        <td class="pattern-4">
                            <h3>Select Your<br /> Package</h3>
                        </td>
                        <td class="pattern-3">
                            <h4>Standard</h4>
                            <span>$120</span>
                            <p>6 Months Plan</p>
                        </td>
                        <td class="pattern-5">
                            <h4>Ultimate</h4>
                            <span>$199</span>
                            <p>/ Year Plan</p>
                        </td>
                        <td class="pattern-6">
                            <h4>Diamond</h4>
                            <span>$399</span>
                            <p>Life time plan</p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>Subscription Plans</p>
                        </td>
                        <td>
                            <p>Six Month Subscription</p>
                        </td>
                        <td>
                            <p>One Year Subscription</p>
                        </td>
                        <td>
                            <p>Life Time Subscription</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Personal Trainers</p>
                        </td>
                        <td>
                            <p>Self Directed Trainers</p>
                        </td>
                        <td>
                            <p>Personal Trainers</p>
                        </td>
                        <td>
                            <p>High Profestional Trainers</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Individual lockers</p>
                        </td>
                        <td>
                            <p>Bag Gym Locker</p>
                        </td>
                        <td>
                            <p>Vintage Gym Locker</p>
                        </td>
                        <td>
                            <p>Steal Gym Locker</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Member Transfers</p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/close-icon.png" alt="Awesome Image" /></p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Fitness Assessment</p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Physiotherapist </p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Juice Bar</p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Swimming Pool</p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Free Wifi </p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                        <td>
                            <p><img src="~/img/icon/open-icon.png" alt="Awesome Image" /></p>
                        </td>
                    </tr>
                    <tr class="button-row">
                        <td></td>
                        <td><a href="#" class="flip-flop-btn"><span data-hover="Subscribe Now">Subscribe Now</span></a></td>
                        <td><a href="#" class="flip-flop-btn"><span data-hover="Subscribe Now">Subscribe Now</span></a></td>
                        <td><a href="#" class="flip-flop-btn"><span data-hover="Subscribe Now">Subscribe Now</span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.section-padding package-area -->