<section class="inner-banner pattern-3">
    <div class="container text-center">
        <h2>Our Trainers</h2>
        <p>We offer Fitness & Yoga services since 1996</p>
    </div>
</section>
<section class="bread-cumb">
    <div class="container text-center">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><span>Our Trainers</span></li>
        </ul>
    </div>
</section>
<section class="experienced-trainer-area">
    <div class="container">
        <div class="section-title text-center">
            <h1><span>Our experienced trainers</span></h1>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="~/img/experienced-trainer/1.jpg" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-envelope"></i>Support&Healtcare.com</li>
                                <li><i class="fa fa-phone"></i>0422-2342134</li>
                                <li><i class="fa fa-cog"></i>Practising : 4+ years</li>
                            </ul>
                            <div class="overlay-buttom">
                                <div class="trainer-name">
                                    <div class="name pull-left">
                                        <h3>Stepthen Adams</h3>
                                        <span>Ceo & Fitness Instructor</span>
                                    </div>
                                    <div class="icon-holder pull-right">
                                        <i class="fc-icon ftc-icon-dumbbell"></i>
                                    </div>
                                </div>
                                <p>Fitness & Body builders spend years, even decades, perfecting the human form. Now, you may not want into your routine.</p>
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="trainer-name">
                            <div class="name pull-left">
                                <h3>Stepthen Adams</h3>
                                <span>Ceo & Fitness Instructor</span>
                            </div>
                            <div class="icon-holder pull-right">
                                <i class="fc-icon ftc-icon-dumbbell"></i>
                            </div>
                        </div>
                        <p>Fitness & Body builders spend years, even decades, perfecting the human form. Now, you may not want into your routine.</p>
                        <div class="social-links">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="~/img/experienced-trainer/2.jpg" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-envelope"></i>Support&Healtcare.com</li>
                                <li><i class="fa fa-phone"></i>0422-2342134</li>
                                <li><i class="fa fa-cog"></i>Practising : 4+ years</li>
                            </ul>
                            <div class="overlay-buttom">
                                <div class="trainer-name">
                                    <div class="name pull-left">
                                        <h3>Ashley Fletcher</h3>
                                        <span>Fitness & Yoga Instructor</span>
                                    </div>
                                    <div class="icon-holder pull-right">
                                        <i class="fc-icon ftc-icon-yoga13"></i>
                                    </div>
                                </div>
                                <p>Fitness & Yoga s, but that doesn’t mean you shouldn’t incorporate some bodybuilding principles and workouts into your routine.</p>
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="trainer-name">
                            <div class="name pull-left">
                                <h3>Ashley Fletcher</h3>
                                <span>Fitness & Yoga Instructor</span>
                            </div>
                            <div class="icon-holder pull-right">
                                <i class="fc-icon ftc-icon-yoga13"></i>
                            </div>
                        </div>
                        <p>Fitness & Yoga s, but that doesn’t mean you shouldn’t incorporate some bodybuilding principles and workouts into your routine.</p>
                        <div class="social-links">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="~/img/experienced-trainer/3.jpg" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-envelope"></i>Support&Healtcare.com</li>
                                <li><i class="fa fa-phone"></i>0422-2342134</li>
                                <li><i class="fa fa-cog"></i>Practising : 4+ years</li>
                            </ul>
                            <div class="overlay-buttom">
                                <div class="trainer-name">
                                    <div class="name pull-left">
                                        <h3>Ben Johnson</h3>
                                        <span>Pro Body Builder</span>
                                    </div>
                                    <div class="icon-holder pull-right">
                                        <i class="fc-icon ftc-icon-musculous"></i>
                                    </div>
                                </div>
                                <p>Fitness & Body builders spend years, even decades, perfecting the human form. Now, you may not want into your routine.</p>
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="trainer-name">
                            <div class="name pull-left">
                                <h3>Ben Johnson</h3>
                                <span>Pro Body Builder</span>
                            </div>
                            <div class="icon-holder pull-right">
                                <i class="fc-icon ftc-icon-musculous"></i>
                            </div>
                        </div>
                        <p>Fitness & Body builders spend years, even decades, perfecting the human form. Now, you may not want into your routine.</p>
                        <div class="social-links">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="~/img/experienced-trainer/4.jpg" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-envelope"></i>Support&Healtcare.com</li>
                                <li><i class="fa fa-phone"></i>0422-2342134</li>
                                <li><i class="fa fa-cog"></i>Practising : 4+ years</li>
                            </ul>
                            <div class="overlay-buttom">
                                <div class="trainer-name">
                                    <div class="name pull-left">
                                        <h3>Rebecca Garza</h3>
                                        <span>Fitness & Body Builder</span>
                                    </div>
                                    <div class="icon-holder pull-right">
                                        <i class="fc-icon ftc-icon-weightlifter3"></i>
                                    </div>
                                </div>
                                <p>Fitness & Body builders spend years, even decades, perfecting the human form. Now, you may not want into your routine.</p>
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="trainer-name">
                            <div class="name pull-left">
                                <h3>Rebecca Garza</h3>
                                <span>Fitness & Body Builder</span>
                            </div>
                            <div class="icon-holder pull-right">
                                <i class="fc-icon ftc-icon-weightlifter3"></i>
                            </div>
                        </div>
                        <p>Fitness & Body builders spend years, even decades, perfecting the human form. Now, you may not want into your routine.</p>
                        <div class="social-links">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!-- /.fitness-team-style-two -->