<section class="inner-banner pattern-3">
    <div class="container text-center">
        <h2>Manasory Example Two</h2>
        <p>We offer Fitness & Yoga services since 1996</p>
    </div>
</section>
<section class="bread-cumb">
    <div class="container text-center">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Masonary</a></li>
            <li><span>Manasory Example Two</span></li>
        </ul>
    </div>
</section>
<section class="section-padding masonary-v2">
    <div class="container">
        <ul class="gallery-filter post-filter list-inline text-center">
            <li class="filter active" data-filter=".filter-item"><span>Show All</span></li>
            <li class="filter" data-filter=".fitness"><span>Fitness</span></li>
            <li class="filter" data-filter=".workout"><span>Workouts</span></li>
            <li class="filter" data-filter=".equipments"><span>Equipments</span></li>
            <li class="filter" data-filter=".yoga"><span>Yoga</span></li>
        </ul>
        <br />
        <br />
        <div class="row masonary-layout filter-layout">
            <div class="col-md-4 col-sm-4 filter-item fitness">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-2.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-2.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-8 col-sm-8 filter-item fitness">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-1.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-1.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4 col-sm-4 filter-item workout yoga">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-3.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-3.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-8 col-sm-8 filter-item fitness">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-6.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-6.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4 col-sm-4 filter-item workout">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-5.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-5.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-4 filter-item equipments yoga">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-4.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-4.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-4 filter-item yoga">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-8.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-8.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-8 col-sm-8 filter-item equipments">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-7.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-7.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4 col-sm-4 filter-item fitness yoga">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-9.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-9.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-8 col-sm-8 filter-item equipments">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-12.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-12.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-/ -->
            <div class="col-md-4 col-sm-4 filter-item equipments">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-10.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-10.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-4 filter-item workout">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-11.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-11.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-4 filter-item equipments">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-14.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-14.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-8 col-sm-8 filter-item equipments">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-13.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-13.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4 col-sm-4 filter-item equipments">
                <div class="single-project-item">
                    <div class="img-box">
                        <img src="~/img/single-project-item/masonary-v2-15.jpg" alt="Awesome Image" />
                        <div class="overlay">
                            <div class="box">
                                <div class="top-box">
                                    <div class="title">
                                        <h3>&emsp;</h3>
                                    </div>
                                </div>
                                <div class="bottom-box">
                                    <ul>
                                        <li><a href="gallery-details-sidebar.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="~/img/single-project-item/masonary-v2-15.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <br />
        <ul class="post-pagination list-inline text-center">
            <li><a href="#"><i class="fa fa-caret-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
        </ul>
    </div>
    <!-- /.container -->
</section>
<!-- /.section-padding masonary-v1 -->