<section class="inner-banner pattern-3">
    <div class="container text-center">
        <h2>Our Events</h2>
        <p>We offer Fitness & Yoga services since 1996</p>
    </div>
</section>
<section class="bread-cumb">
    <div class="container text-center">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><span>Our Events</span></li>
        </ul>
    </div>
</section>
<section class="section-padding schedule-area">
    <div class="container">
        <div class="section-title text-center">
            <h1><span>Schedule Calendar</span></h1>
        </div>
        <ul class="schedule-filter gallery-filter list-inline text-center">
            <li class="active" data-filter=".schedule-wrapper"><span>Show All</span></li>
            <li data-filter=".warmup"><span>Warmup</span></li>
            <li data-filter=".fitness"><span>Fitness</span></li>
            <li data-filter=".body-building"><span>Body Building</span></li>
            <li data-filter=".yoga"><span>Yoga</span></li>
            <li data-filter=".weight-lifting"><span>Weight Lifting</span></li>
            <li data-filter=".boxing"><span>Boxing</span></li>
            <li data-filter=".workout"><span>Work Out</span></li>
        </ul>
        <br />
        <br />
        <div class="table-responsive">
            <table class="table schedule-table">
                <thead>
                    <tr>
                        <td>
                            <h3>Sunday</h3>
                        </td>
                        <td>
                            <h3>Monday</h3>
                        </td>
                        <td>
                            <h3>Tuesday</h3>
                        </td>
                        <td>
                            <h3>Wednesday</h3>
                        </td>
                        <td>
                            <h3>tdursday</h3>
                        </td>
                        <td>
                            <h3>Friday</h3>
                        </td>
                        <td>
                            <h3>Saturday</h3>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="schedule-wrapper fitness">
                            <div class="schedule-table-item">
                                <h4>Fitness Checkup</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 7.00am - 7.30am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Vendana</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper yoga">
                            <div class="schedule-table-item">
                                <h4>Yoga Class</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 7.00am - 7.30am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Morrison</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper same warmup">
                            <div class="schedule-table-item">
                                <h4>Warmup</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 7.00am - 8.30am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Vendana</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper same weight-lifting">
                            <div class="schedule-table-item">
                                <h4>Weight Lifting</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 7.00am - 10.00am</li>
                                    <li><i class="fa fa-user"></i> Trainer: V. Meckey</li>
                                    <li><i class="fa fa-signal"></i> Level: Advanced</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper same boxing">
                            <div class="schedule-table-item">
                                <h4>Thai Boxing</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 7.00am - 8.00am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Charles</li>
                                    <li><i class="fa fa-signal"></i> Level: Experts</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper none">
                        </td>
                        <td class="schedule-wrapper same fitness">
                            <div class="schedule-table-item">
                                <h4>Power Fitness</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 7.00am - 9.00am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Vendana</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                    </tr>
                    <tr>
                        <td class="schedule-wrapper body-building">
                            <div class="schedule-table-item">
                                <h4>Body Building</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 7.30am - 9.00am</li>
                                    <li><i class="fa fa-user"></i> Trainer: V.Meckey</li>
                                    <li><i class="fa fa-signal"></i> Level: Advanced</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper fitness">
                            <div class="schedule-table-item">
                                <h4>Powerfitness</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 7.30am - 9.00am</li>
                                    <li><i class="fa fa-user"></i> Trainer: V.Meckey</li>
                                    <li><i class="fa fa-signal"></i> Level: Experts</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper same warmup">
                        </td>
                        <td class="schedule-wrapper same weight-lifting">
                        </td>
                        <td class="schedule-wrapper same boxing">
                        </td>
                        <td class="schedule-wrapper none">
                        </td>
                        <td class="schedule-wrapper same fitness">
                        </td>
                    </tr>
                    <tr>
                        <td class="schedule-wrapper weight-lifting">
                            <div class="schedule-table-item">
                                <h4>Weight Lifting</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 9.00am - 10.30am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Morrison</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper yoga">
                            <div class="schedule-table-item">
                                <h4>Yoga & Stretches</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 9.00am - 10.30am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Martin</li>
                                    <li><i class="fa fa-signal"></i> Level: Advanced</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper none">
                        </td>
                        <td class="schedule-wrapper same weight-lifting">
                        </td>
                        <td class="schedule-wrapper none">
                        </td>
                        <td class="schedule-wrapper weight-lifting">
                            <div class="schedule-table-item">
                                <h4>Weight Lifting</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 9.00am - 10.30am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Vendana</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper workout">
                            <div class="schedule-table-item">
                                <h4>Chest Workout</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 9.00am - 10.30am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Morrison</li>
                                    <li><i class="fa fa-signal"></i> Level: Advanced</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                    </tr>
                    <tr>
                        <td class="schedule-wrapper none">
                        </td>
                        <td class="schedule-wrapper boxing">
                            <div class="schedule-table-item">
                                <h4>Thai Boxing</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 11.00am - 1.00pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: Vendana</li>
                                    <li><i class="fa fa-signal"></i> Level: Experts</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper fitness">
                            <div class="schedule-table-item">
                                <h4>Cardio Fitness</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 11.00am - 1.00pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: Jacob</li>
                                    <li><i class="fa fa-signal"></i> Level: Experts</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper body-building">
                            <div class="schedule-table-item">
                                <h4>Body Building</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 10.00am - 1.00pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: Morrison</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper workout">
                            <div class="schedule-table-item">
                                <h4>Power Lifting</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 10.00am - 1.00pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: V. Meckey</li>
                                    <li><i class="fa fa-signal"></i> Level: Advanced</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper fitness">
                            <div class="schedule-table-item">
                                <h4>Cardio Fitness</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 10.30am - 12.30am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Jacob</li>
                                    <li><i class="fa fa-signal"></i> Level: Experts</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper warmup">
                            <div class="schedule-table-item">
                                <h4>Warmup</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 10.30am - 1.30pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: Charles</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                    </tr>
                    <tr>
                        <td class="schedule-wrapper none">
                            <div class="schedule-table-item">
                                <h4>No Class</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 11.00am - 1.00pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: Vendana</li>
                                    <li><i class="fa fa-signal"></i> Level: Experts</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper same boxing">
                        </td>
                        <td class="schedule-wrapper same fitness">
                        </td>
                        <td class="schedule-wrapper same body-building">
                        </td>
                        <td class="schedule-wrapper same workout">
                        </td>
                        <td class="schedule-wrapper same fitness">
                        </td>
                        <td class="schedule-wrapper same warmup">
                        </td>
                    </tr>
                    <tr>
                        <td class="schedule-wrapper boxing">
                            <div class="schedule-table-item">
                                <h4>Thai Boxing</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 1.00pm - 2.30pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: Vendana</li>
                                    <li><i class="fa fa-signal"></i> Level: Experts</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper none">
                        </td>
                        <td class="schedule-wrapper fitness">
                            <div class="schedule-table-item">
                                <h4>Cardio Fitness</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 1.00pm - 2.30pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: Jacob</li>
                                    <li><i class="fa fa-signal"></i> Level: Experts</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper body-building">
                            <div class="schedule-table-item">
                                <h4>Body Building</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 1.00pm - 2.30pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: Morrison</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper none">
                            <div class="schedule-table-item">
                                <h4>Power Lifting</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 1.00pm - 2.30pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: V. Meckey</li>
                                    <li><i class="fa fa-signal"></i> Level: Advanced</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper fitness">
                            <div class="schedule-table-item">
                                <h4>Cardio Fitness</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 1.00pm - 2.30pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: Jacob</li>
                                    <li><i class="fa fa-signal"></i> Level: Experts</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper warmup">
                            <div class="schedule-table-item">
                                <h4>Warmup</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 1.00pm - 2.30pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: Charles</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                    </tr>
                    <tr>
                        <td class="schedule-wrapper fitness">
                            <div class="schedule-table-item">
                                <h4>Fitness Checkup</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 3.00pm - 4.30am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Vendana</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper yoga">
                            <div class="schedule-table-item">
                                <h4>Yoga Class</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 3.00pm - 4.30am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Morrison</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper same warmup">
                            <div class="schedule-table-item">
                                <h4>Warmup</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 3.30pm - 4.30am</li>
                                    <li><i class="fa fa-user"></i> Trainer: Vendana</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper same weight-lifing">
                            <div class="schedule-table-item">
                                <h4>Weight Lifting</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 3.30pm - 5.00pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: V. Meckey</li>
                                    <li><i class="fa fa-signal"></i> Level: Advanced</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper same boxing">
                            <div class="schedule-table-item">
                                <h4>Thai Boxing</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 4.00pm - 5.30pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: Charles</li>
                                    <li><i class="fa fa-signal"></i> Level: Experts</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper none">
                        </td>
                        <td class="schedule-wrapper same fitness">
                            <div class="schedule-table-item">
                                <h4>Power Fitness</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 3.00pm - 4.30pm</li>
                                    <li><i class="fa fa-user"></i> Trainer: Vendana</li>
                                    <li><i class="fa fa-signal"></i> Level: Beginner</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                    </tr>
                    <tr>
                        <td class="schedule-wrapper body-building">
                            <div class="schedule-table-item">
                                <h4>Body Building</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 7.30am - 9.00am</li>
                                    <li><i class="fa fa-user"></i> Trainer: V.Meckey</li>
                                    <li><i class="fa fa-signal"></i> Level: Advanced</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper fitness">
                            <div class="schedule-table-item">
                                <h4>Powerfitness</h4>
                                <ul>
                                    <li class="time"><i class="fa fa-clock-o"></i> 7.30am - 9.00am</li>
                                    <li><i class="fa fa-user"></i> Trainer: V.Meckey</li>
                                    <li><i class="fa fa-signal"></i> Level: Experts</li>
                                </ul>
                            </div>
                            <!-- /.schedule-table-item -->
                        </td>
                        <td class="schedule-wrapper same warmup">
                        </td>
                        <td class="schedule-wrapper same weight-lifing">
                        </td>
                        <td class="schedule-wrapper same boxing">
                        </td>
                        <td class="schedule-wrapper none">
                        </td>
                        <td class="schedule-wrapper same fitness">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.container -->
</section>